.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#main-box{
input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  font-size: 15px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: azure;
  border-radius: 10px;
}
  button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(20, 19, 19);
    background: lightblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }
}

#buttons-container{
width: 120px;
display: flex;
justify-content: space-between;
button{
  padding:1px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(20, 19, 19);
  background: lightblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2%;
}
}
#reply-box{
  input{
    width: 200px;
    padding: 10px;
  }
}
.reply-text{
  p{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}